/* widgets */

.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
  }
  
  .widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
  }
  
  .widget-recent-post:last-child {
    border: 0;
    margin: 0;
  }
  
  .widget-image {
    order: -1;
  }
  
  
  